<div class="row">
  <div class="col">
    <%= link_to "Create new", new_admin_country_path %>
  </div>
</div>
<div class="row mt-2">
  <div class="col">
    <ul class="list-group">
      <% @records.each do |record| %>
        <li class="list-group-item"><%= link_to record.name, admin_country_path(record) %></li>
      <% end %>
    </ul>
  </div>
</div>
